li, p {
    font-weight: lighter;
	font-size: 18px;
}

h2 {
	font-size: 30px;
}

h3 {
	
	font-size: 25px;
}

h4 {
	font-size: 22px;
}

h5 {
	font-size: 20px;
}

.navbar {
	margin-bottom: 10px;
}

.main {
	margin-top: 30px;
	margin-bottom: 20px;
}

#self {
    margin-top: 60px;
    margin-left: 60px;
    margin-bottom: 10px;
    margin-right: 10px;
	background-color: #303030;
	padding: 10px;
	vertical-align: center;
}

.education {
    background-color: LightGray;
    padding-left: 20px;
    padding-bottom: 10px;
	padding-top: 10px;
}

.education h4 {
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 10px;
 } 

.bio {
    background-color: LightCyan;
    padding: 10px;
}

.skills {
    text-indent: 0px;
	padding-bottom: 20px;
}

.skills>div {
	margin: 20px;
}

.center-list {
	width: 20em;
	margin: auto;
}

.skills h2 {
    text-transform: uppercase;;
    text-color: charcoal;
    text-align: center;
    padding-top: 20px;
}

.skills h3 {
    text-align: center;
    text-indent: 0 !important;
	padding-bottom: 10px;
}

.skills h4 {
    text-transform: capitalize !important;
}

.languages {
    background-color: LightCyan;
    padding-bottom: 5px;
    padding-left: 7px;
    padding-top: 1px;
}

.soft-dev {
    background-color: white;
    padding-bottom: 5px;
    padding-left: 7px;
    padding-top: 1px;
}

.misc {
    background-color: LightGray;
    padding-bottom: 5px;
    padding-left: 7px;
    padding-top: 1px;
}

.skills h2 {
    padding-bottom: 20px;
    background-color: ;
}

.skills ul {
    list-style-type: none;
}