.container li, p {
    font-weight: lighter;
}

#self {
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    background-color: #303030;
    outline: 3px solid cyan;
}

.education {
    background-color: LightGray;
    padding-left: 10px;
    padding-bottom: 5px;
}

.education h4 {
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 10px;
 } 

.bio {
    background-color: LightCyan;
    padding: 10px;
}

.skills {
    text-indent: 0px;
}

.skills h2 {
    text-transform: uppercase;;
    text-color: charcoal;
    text-align: center;
    padding-top: 20px;
}

.skills h3 {
    text-align: center;
    text-indent: 0 !important;
}

.skills h4 {
    text-transform: capitalize !important;
}

.languages {
    background-color: LightCyan;
    padding-bottom: 5px;
    padding-left: 7px;
    padding-top: 1px;
}

.soft-dev {
    background-color: white;
    padding-bottom: 5px;
    padding-left: 7px;
    padding-top: 1px;
}

.misc {
    background-color: LightGray;
    padding-bottom: 5px;
    padding-left: 7px;
    padding-top: 1px;
}

.skills h2 {
    padding-bottom: 20px;
    background-color: ;
}

.skills ul {
    list-style-type: none;
}