.main {
	font-family: 'Open-sans', sans-serif;
	color: white;
}

.main li, .main p {
	font-weight: lighter;
	font-size: 18px;
}

h2 {
	font-size: 26px;
}

h3 {
	font-size: 24px;
	margin: 0;
	color: #00ffff;
}

h4 {
	font-size: 22px;
}

h5 {
	font-size: 20px;
	color: #51dc51;
}

p {
	margin: 10px 0;
	color: white;
}

.indent-1 {
	padding-left: 20px;
}

.main {
	margin-top: 30px;
	margin-bottom: 20px;
}

#self {
	display: block;
	vertical-align: middle;
	border-radius: 3px;
	margin: 0 auto;
	margin-bottom: 40px;
}

.self-container {
	display: flex;
  flex-direction: row;
}

.bracket {
	color: white;
}

.education {
	margin-bottom: 40px;
}

.education ul {
	list-style-type: none;
}

.bio {
	margin-bottom: 40px;
}

.skills {
	text-indent: 0px;
	padding-bottom: 20px;
}

.center-list {
	width: 20em;
	margin: auto;
}

#skills-header {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	font-weight: lighter;
	margin: 0;
}

.skills h3 {
	text-align: center;
	padding-bottom: 5px;
}

.skills h4 {
	text-transform: capitalize !important;
}

.soft-dev {
}

.misc, .languages {
}

.skills ul {
	list-style-type: none;
}

.languages, .soft-dev, .misc {
	margin: 10px 0;
	padding: 1px 30px 5px 30px;
}

/* ------------------- Desktop Styling ------------------- */

@media(min-width:768px) {
	

}