.contact-main {
  background-color: white;
	font-size: 18px;
	border-radius: 0px 0px 3px 3px;
	padding: 20px;
	word-wrap: break-word;
}

.main {
	margin: 40px 10px 0 10px;
}

h3 {
	margin-top: 0;
}

address {
	margin: 0;
}