/* Main CSS file that all html files use as a basic layout */

body {
    background-color: #E0E0E0;
	font-family: 'Quicksand', sans-serif;
    color: #202020;
	padding: 0px;
	margin: 0px;
}

.container {
	font-family: 'Quicksand', sans-serif;
}

h1, h2, h3 {
    text-transform: uppercase;
    font-weight: bold;
}

.navbar {
    background-color: white;
	margin: 0;
	padding: 8px;
	border-style: none;
	border-radius: 0;
	box-sizing: border-box;
}

nav ul {
	margin: 0;
	display: inline;
	text-align: center;
}

#menu-button {
	display: none;
}

.navbar li {
    display: inline;
	padding-top: 17px;
	padding-bottom: 15px;
	margin: 0px;
}

.navbar a {
    text-transform: uppercase;
    text-decoration: none;
	font-size: 14px;
    color: black;
    padding-right: 25px;
	padding-left: 25px;
}

.navbar li:hover {
    text-decoration: none;
    background-color: #F1F1F1;
	border-bottom: solid #F1F1F1 4px;
}

.dropdown-menu a {
	padding-top: 4px;
	padding-bottom: 4px;
}

.dropdown-menu {
	border-radius: 0;
	margin: 0px;
	padding: 0px;
	background-color: white;
	box-shadow: none;
	top: 52px;
}

.dropdown {
	box-sizing: border-box;
}

#current-page {
	border-bottom: solid #191919 4px;
}

#current-page:hover {
	border-bottom: solid #191919 4px;
}

#logo {
	margin: 0;
	vertical-align: middle;
	display: inline;
}

/* --------------- Mobile ------------------- */

.mobi .menu > li {
	display: none;
}

.mobi #menu-button {
	display: inline !important;
}

.mobi img {
	vertical-align: center;
	margin-right: 10px;
}