html, body {
	height: 100%;
	font-family: 'Open-sans', sans-serif;
	font-weight: lighter;
}

h4 {
	text-align: center;
}

.proj-container {
	display: inline;
}

.proj-container div {
	float: none;
}

.project {
	margin: 0 auto;
	margin-bottom: 20px;
	text-align: center;
}

.project:hover {
	background-color: #dbdbdb;
}

.project img {
	margin: auto;
	width: 100%;
}

.project a {
	color: #303030;
}

.project a:hover {
	text-decoration: none;
}

/* Desktop/laptop styling */
@media(min-width:768px) {

	.main {
		margin-top: 40px;
	}

	.proj-container, .proj-col, .project {
		display: inline-block;
	}

	.project {
		padding: 10px 10px 5px 10px;
	}

}


/* Very small screens */
@media(max-width:375px) {

	img {
		width: 95%;
	}

	h4 {
		font-size: 5vw;
	}

}