.main {
	margin: 10px;
	background-color: white;
	font-family: 'Open-sans', sans-serif;
  height: auto !important;
	border-radius: 3px;
	padding: 0 10px 30px 10px;
}

h3, h4 {
	font-family: 'Quicksand', sans-serif !important;
}

h2 {
  text-align: center;
  padding-bottom: 30px;
	font-family: 'Exo 2', sans-serif;
	text-transform: capitalize;
	font-weight: lighter;
}

.brief {
  line-height: 25px !important;
  background-color: LightCyan;
  padding: 10px;
	font-size: 18px;
	font-weight: lighter;
	text-indent: 10px;
	margin-bottom: 5px;
}

.brief h4 {
  display: inline;
  padding-right: 7px;
	font-weight: bold;
}

.description {
	padding: 0 20px 5px 20px;
  background-color: #E1E1E1;
	font-size: 16px;
}

.description h3 {
  text-transform: capitalize !important;
  padding-top: 5px;
}

.description h4 {
	font-weight: bold;
}

p {
  font-size: 18px !important;
	font-weight: lighter;
}

#project-pic {
	margin: 0 auto;
	display: block;
	margin-bottom: 20px;
	width: 90%;
}

.brief a {
  color: #00CCCC !important;
}

.brief a:hover {
  color: cyan !important;
  text-decoration: none;
}

.description h3 {
  padding-top: 10px;
}

.description h4 {
  padding-top: 10px;
}

#features {
  padding-top: 0px !important;
}
