h1 {
    text-align: center;
    padding-bottom: 25px;
}

.projects {
    text-align: center;
}

.projects a {
    color: #202020;
}

.projects a:hover {
    color: #00CCCC;
    text-decoration: none;
}