html, body {
	height: 100%;
	font-family: 'Open-sans', sans-serif;
	font-weight: lighter;
}

.main {
	margin-top: 40px;
}

h4 {
	text-align: center;
}

.project {
	margin: 0 auto;
	margin-bottom: 20px;
	text-align: center;
	padding: 10px 10px 5px 10px;
}

.project:hover {
	background-color: #dbdbdb;
}

.project img {
	margin: auto;
}

.project a {
	color: #303030;
}

.project a:hover {
	text-decoration: none;
}

@media(min-width:768px) {
	.proj-col {
		display: inline-block;
	}
}

@media(max-width:663px) {
	.proj-col {
		display: inline;
	}

	.project {
		margin-bottom: 0;
	}
}